#reslutの各フォルダーのみを追跡対象に
/result/data/data_features
/result/data/MAPE
/result/data/Prophet
/result/data/自己回帰
/result/data/深層学習
/result/graph/AQI
/result/graph/data_features
/result/graph/Prophet
/result/graph/自己回帰
/result/graph/深層学習
/result/parameta


#動かすときに作成されるものであるため、追跡を外す
/AQI/__pycache__/

#容量が大きいため、追跡を外す
/data/raw_data/

#深層学習の検証ファイルと公開ファイルを追跡させない
/深層学習_lstmの予測検証.ipynb
/Deep_learning_model.ipynb
